{% set navigation = [( url_for('home_bp.home'), 'Home'), 
                     ( url_for('home_bp.raw_data'), 'Raw data'),
                     ] %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.svg') }}">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/preferred-thema.min.js') }}"></script>
  {% block head_content %}{% endblock %}
</head>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;" wfd-invisible="true">
  <symbol id="moon" viewBox="0 0 16 16">
    <path
      d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z">
    </path>
  </symbol>
  <symbol id="sun" viewBox="0 0 16 16">
    <path
      d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z">
    </path>
  </symbol>
</svg>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='images/favicon.svg') }}" alt="Logo" width="30" height="24"
          class="d-inline-block align-text-top">
        KubeLinks
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          {% for nav_link, nav_title in navigation %}
          <li class="nav-item">
            <a class="nav-link" href="{{ nav_link }}" id="{{ nav_link }}" >{{ nav_title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <ul class="nav justify-content-end ">
        <li class="nav-item" style="margin-right: 0.5em!important;">
          <svg class="theme-icon" style="width: 1em; height: 1em; vertical-align: -0.125em; fill: currentcolor;">
            <use href="#sun"></use>
          </svg>
        </li>
        <li class="nav-item">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="themeMode"/>
            <script>
              // Set checkbox state immediately when this element is parsed
              document.getElementById("themeMode").checked = window.__initialTheme === "dark";
            </script>
          </div>
        </li>
        <li class="nav-item">
          <svg class="theme-icon" style="width: 1em; height: 1em; vertical-align: -0.125em; fill: currentcolor;">
            <use href="#moon"></use>
          </svg>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container mt-1">
    {% block content %}{% endblock %}
  </div>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/color-modes.min.js') }}"></script>

  {% block scripts %}{% endblock %}
</body>

</html>