{{- if .Values.extraUrls }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "KubeLinks.fullname" . }}
  labels:
    {{- include "KubeLinks.labels" . | nindent 4 }}
data:
  extraUrls.yaml: |-
    {{- toYaml $.Values.extraUrls | nindent 4 }}
{{- end }}
