{% extends "layout.html" %}

{% block title %}
KubeLinks
{% endblock %}

{% block head_content %}
<link href="{{ url_for('static', filename='css/table.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/bootstrap-icons.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<h2>Ingress and Istio urls</h2>
<p></p>
<div id="div-table" class="container p-1 w-100 mb-5 shadow rounded-2">
  <table id="table" class="table table-striped table-hover bg-body">
    <thead class="align-top">
      <tr id="columns">
        <th data-field="url" data-filter-control="input" class="w-45 border border-0">
          <div class="row">
            <div class="col">Url</div>
            <div class="col-auto pe-0 show-filter"><i class="bi-funnel"></i></div>
            <div class="sortable col-auto"></div>
          </div>
        </th>
        <th data-field="type" data-filter-control="select" class="w-10 border border-0">
          <div class="row">
            <div class="col">Type</div>
            <div class="col-auto pe-0 show-filter"><i class="bi-funnel"></i></div>
            <div class="sortable col-auto"></div>
          </div>
        </th>
        <th data-field="name" data-filter-control="select" class="w-45 border border-0">
          <div class="row">
            <div class="col">Name</div>
            <div class="col-auto pe-0 show-filter"><i class="bi-funnel"></i></div>
            <div class="sortable col-auto"></div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for row in data['urls'] %}
      <tr>
        <td data-field="url" class="text-break">{% if row.url %}
          <a href="{{ row.url }}" target="_blank">{{ row.url_name }}</a>
          {% else %}
          {{ row.url_name }}
          {% endif %}
        </td>
        <td data-field="type" class="text-break">{{ row.url_type }}</td>
        <td data-field="name" class="text-break">{{ row.name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/table.min.js') }}"></script>
{% endblock %}