{% extends "layout.html" %}
{% block title %}
KubeLinks
{% endblock %}
{% block content %}

    <!-- <h2>Kubernetes links</h2> -->
    <h2>Ingress and Istio urls</h2>
    <p></p>
    <div id="table" class="container p-1 w-100 mb-5 shadow rounded-2">
        <table class="table table-striped table-hover bg-body ">
            <thead>
                <tr>
                    <th scope="col">Url</th>
                    <th scope="col">Type</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for item in ingress %}
                <tr>
                    {% if item.link %}
                    <td><a href="{{ item.link }}" target="_blank">{{ item.host_name }}</a></td>
                    {% else %}
                    <td>{{ item.host_name }}</td>
                    {% endif %}
                    <td>ingress</td>
                    <td>{{ item.metadata_name }}</td>
                </tr>
                {% endfor %}

                {% for item in gateway %}
                <tr>
                    {% if item.link %}
                    <td><a href="{{ item.link }}" target="_blank">{{ item.host_name }}</a></td>
                    {% else %}
                    <td>{{ item.host_name }}</td>
                    {% endif %}
                    <td>gateway</td>
                    <td>{{ item.metadata_name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}